@font-face {
  font-family: "Alibaba-PuHuiTi-Heavy";
  src: url("../src/Font/Alibaba-PuHuiTi-Heavy.otf");
}
@font-face {
  font-family: "Alibaba-PuHuiTi-Regular";
  src: url("../src/Font/Alibaba-PuHuiTi-Regular.otf");

}
@font-face {
  font-family: "ITC_Avant_Garde_Gothic_LT_Bold";
  src: url("../src/Font/ITC_Avant_Garde_Gothic_LT_Bold.ttf");

}
